  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Righteous&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Josefin Sans', sans-serif;
      font-family: 'Righteous', cursive;
  }

  html,
  body {
      height: 100%;
      width: 100%;
      /* background: #161B22; */
  }

  html {
      scroll-behavior: smooth;
  }

  /* width */
  ::-webkit-scrollbar {
      width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #373737;
  }

  body {
      background-color: #292828;

  }

  .my-header {
      padding: 20px 0;
      background-color: rgb(190, 66, 66);
  }

  .loading, .notfound{
      position: absolute;
      top: 50%;
      left: 50%;
      color: grey;
      transform: translate(-50%, -50%);
      font-size: xx-large;

  }


  .my-header h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      letter-spacing: 2px;
  }

  .my-header span {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .my-header {
      background-color: #292828;
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid rgb(87, 87, 87);
      margin: 0 15px;
  }

  .searchBar {
      display: flex;
      gap: 10px;
  }

  .searchBar button:hover {
      background-color: rgb(255, 30, 41);
      color: white;
  }

  .searchBar button {
      padding: 3px 10px;
      background-color: rgb(255, 67, 77);
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .searchBar input {
      background-color: transparent;
      border: 1px solid rgb(115, 112, 112);
      padding: 5px 5px;
      border-radius: 5px;
      color: white;
      width: 250px;
      font-size: 17px;
      font-weight: 100;
  }

  .main {
      /* border: 1px solid black; */
      color: black;
      height: 89vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .card {
      display: flex;
      border: 1px solid;
      height: 50vh;
      width: 45vw;
      padding: 20px 10px;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      background: #eaeaea;
      /* background: linear-gradient(to right,rgb(196, 196, 196),rgb(255, 220, 225)); */
  }

  .card .left {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      border-right: 1px solid grey;
  }
h1.rtitle{
    text-align: center;
    color: white;
    margin: 50px 0 40px 0;
}
  .card .right {
      width: 60%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      gap: 10px;
      align-items: center;

      /* border: 1px solid rgb(74, 74, 74); */
      border-radius: 5px;
  }

  .card .left img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      outline: 3px solid rgb(255, 24, 36);
      outline-offset: 3px;
  }

  .card .right .top {
      display: flex;
      flex-direction: column;
      gap: 15px;
  }

  .card .right .top a:hover {

      background-color: rgb(255, 24, 36);
  }

  .card .right .top a {
      text-decoration: none;
      color: white;
      background-color: rgb(255, 67, 77);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      font-size: 13px;
      letter-spacing: 0.6px;
  }

  .card .right .data {
      padding-top: 10px;
      display: flex;
      gap: 20px;
      margin-bottom: 10px;
  }

  .card .right .data span a {
      text-decoration: none;
      color: black;
  }

  .card .right .data span {
      background-color: rgba(140, 140, 140, 0.254);
      padding: 5px 10px;
      border-radius: 5px;
  }

  .card .left h4 {
      font-size: 18px;
      color: rgb(28, 28, 28);
      letter-spacing: 1px;
  }

  .card .right p {
      text-align: center;
      font-size: 15px;
      color: rgb(89, 89, 89);
  }

  .card .right h2 {
      font-size: 30px;
      text-align: center;
  }

  h1.error {
      color: rgb(117, 117, 117);
      font-size: 35px;
      text-align: center;
      margin-top: 18%;
  }

  div.repo {
      display: inline-block;
      padding: 10px;
      background-color: rgba(79, 78, 78, 0.292);
      border-radius: 10px;
      margin: 15px;
      height: 130px;
      width: 220px;
      padding: 10px;
  }

  .hrepo {
      padding-top: 15px;
  }

  div.repo h1 {
      text-transform: capitalize;
      color: white;
      font-weight: 100;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
  }

  div.repo .links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  }

  div.repo a:hover {
      background-color: rgb(255, 24, 36);
  }

  div.repo a {
      text-decoration: none !important;
      background-color: rgba(255, 45, 55, 0.683);
      color: white;
      border-radius: 5px;
      font-size: 15px;
      padding: 5px 10px
  }

  @media (max-width:806px) {

      .my-header {
          padding: 15px 10px;
          justify-content: space-between;

      }

      .my-header span {
          width: 30px;
          height: 25px;
      }

      .my-header h1 {
          font-size: 16px;
          display: flex;
          width: 90px;
      }

      .my-header .searchBar button {
          padding: 2px 4px;
          font-size: 12px;
      }

      .my-header .searchBar input {
          padding: 5px 3px;
          width: 150px;
          font-size: 14px;

      }

      .main {
          height: 89vh;
      }

      .card {
          height: 75vh;
          width: 85vw;
          flex-direction: column;
      }

      .card .left img {
          height: 120px;
          width: 120px;
      }

      .card .left {
          border: none;
          width: 100%;

          flex-direction: column-reverse;
          gap: 10px;
          padding-bottom: 15px;
          height: 40%;
      }

      .card .right {
          margin-top: 10px;
          width: 100%;
      }

      .card .right h1 {
          text-align: center;
          font-size: 23px;
      }

      .card .right .top a {
          font-size: 10px;
      }

      .card .right .data span {
          font-size: 13px;
          text-align: center;
      }

      .card .right p {
          font-size: 14px;
          padding: 2px 25px;
      }

      h1.error {
          color: rgb(134, 134, 134);
          font-size: 25px;
          text-align: center;
          margin-top: 50%;
      }

      div.repo {
          width: 160px;
          margin: 10px;
          height: fit-content;
          padding: 10px 5px;
      }

      div.repo h1 {
          font-size: 19px;
      }

      div.repo .links a {
          padding: 4px 8px;
      }

      div.repo .hrepo {
          font-size: 20px;
      }
  }